<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{title: 'Home - DasSplit'}) %>

<body class="home-body">
    <div class="btn-container">
        <button><a href="/registro">Registarse</a></button>
        <button><a href="/login">Login</a></button>  
    </div>         
    <div class="logo-container">
        <img src="/img/logo.png" alt="logo">
    </div>       
</body>
</html>