<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{title: 'Login - DasSplit'}) %> 

<body class="login-body">
    <a href="/">Volver</a>
    <h2>Iniciar sesión</h2>
    <form action="/login" method="post" class="form-login">        
        <label for="email">Dirección de correo electrónico</label>
        <input type="text" name="email" id="email">
        <div>
            <h3><%= locals.errors && errors.email ? errors.email.msg : null %></h3>
        </div>
        <label for="pass">Contraseña</label>
        <input type="password" name="pass" id="pass">
        <div>
            <h3><%= locals.errors && errors.pass ? errors.pass.msg : null %></h3>
            <%if(typeof (locals.errors && errors.msg) !='undefined' ){ %>
                <h3><%= errors.msg %></h3>
                <% } %>
        </div>
        <div class="btn-container-login">
            <button type="submit">Iniciar sesión</button>
            <a href="/registro">¿Aún no tienes cuenta?</a>
        </div>
    </form>
</body>
</html>